.bg {
  background-image: url("./bg.jpg");
  height: 500px;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-center {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.font {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

Button {
    background-color: orange !important;
    color: white !important;
    box-shadow: 0 2px black;
    border-radius: 10px !important;
}